
<section class="section-one">

    <div class="timeline">
        <div class="dot">
            <div class="dot-background">
                <div class="dot-inside"></div>
            </div>
        </div>
        <div class="line"></div>
    </div>

    <div class="div-header">
        <h1>Hi, I'm Leonardo Ferreira</h1>
        <h4>A Front-End Developer in growth</h4>
    </div>

    <div class="div-me">

    </div>
</section>

<section class="section-two">
    <div class="div-header">
        <h1>Works</h1>
        <h4>I have done</h4>
    </div>
    
    <div class="container-content">
        <div class="left-contet">
            <div class="content">
                <div class="content-image">
                    <button class="img"></button>
                </div>
                <div class="content-text">
                    <div class="content-number"><p>1</p></div>
                    <h1>Horta Local</h1>

                    <div class="content-description">
                        <p class="p-description">Description</p>
                        <p class="p-text">A website with the aim of selling fresh <br>
                                          agricoltural products . . .</p>

                        <button class="btn-seeMore">See More</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="right-contet">
            <div class="content">
                <div class="content-image">
                    <button class="img"></button>
                </div>
                <div class="content-text">
                    <div class="content-number"><p>2</p></div>
                    <h1>Gallery Party</h1>

                    <div class="content-description">
                        <p class="p-description">Description</p>
                        <p class="p-text">A website with the aim of selling fresh <br>
                                          agricoltural products . . .</p>
                                          
                        <button class="btn-seeMore">See More</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="left-contet ajust" >
            <div class="content">
                <div class="content-image">
                    <button class="img"></button>
                </div>
                <div class="content-text">
                    <div class="content-number"><p>3</p></div>
                    <h1>Music Player</h1>

                    <div class="content-description">
                        <p class="p-description">Description</p>
                        <p class="p-text">A website with the aim of selling fresh <br>
                                          agricoltural products . . .</p>
                                          
                        <button class="btn-seeMore">See More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-three">
    <div class="div-header">
        <h1>Contacts</h1>
        <h4>For any question or interest</h4>
    </div>

</section>